.landingPageBackground {
    background-attachment: fixed;
    background-image: url(/assets/images/veggies.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 78px;
    margin-left: 58px;
    margin-right: 58px;
    margin-bottom: 78px;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 390px;
    box-shadow: 5px 6px 4px rgba(0,0,0,.3);
}
.landingPageMainText {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}


#signUpButton {
    margin-top: 20px;
    max-width: 312px;
}

body {
    background-image: url(/assets/images/grey_wash_wall.png);
    

}