.landingPageBackground {
    background-attachment: fixed;
    background-image: url(/assets/images/veggies.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 116px;
    margin-left: 58px;
    margin-right: 58px;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 390px;
}
.landingPageMainText {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}


#signUpButton {
    margin-top: 20px;
    max-width: 312px;
}

