.myEventsBackground {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0,0,0,.3);
    background-image: url(/assets/images/typewriter.jpg);
    border: 2px solid #fff;
    -webkit-box-shadow: 
    inset 8px 8px 4px rgba(0,0,0,0.3),
          8px 8px 4px rgba(0,0,0,0.3); 
    -moz-box-shadow: 
    inset 8px 8px 4px rgba(0,0,0,0.3),
          8px 8px 4px rgba(0,0,0,0.3);
    box-shadow: 8px 8px 4px rgba(0,0,0,.3);
    padding: 50px;
    margin-bottom: 50px;
    min-height: 390px;
}

.myEventsArea {
    border: 2px solid rgb(0,172,173);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
    background-color: #fff;
    -webkit-box-shadow: 
    inset 8px 8px 4px rgba(0,0,0,0.3),
          8px 8px 4px rgba(0,0,0,0.3); 
    -moz-box-shadow: 
    inset 8px 8px 4px rgba(0,0,0,0.3),
          8px 8px 4px rgba(0,0,0,0.3);
    box-shadow: 8px 8px 4px rgba(0,0,0,.3);
    
}
.form-group {
    border: 2px solid rgba(0,172,173, .6);
    border-radius: 7px;
    -webkit-box-shadow: 
    inset 1px 1px 3px rgba(0,0,0,0.3),
          1px 1px 3px rgba(0,0,0,0.3); 
    -moz-box-shadow: 
    inset 1px 1px 3px rgba(0,0,0,0.3),
          1px 1px 3px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}
.myEventsTitle {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
    font-family: 'Laila', 'serif';
    font-size: 1.5rem;
    color: #FFF;
    text-shadow: 1px 3px 6px rgba(0,0,0,.6);
    background-color: rgba(0,172,173,0.9);
    padding-bottom: 2px;
    padding-top: 20px;
}